.coin {
  &__crypto-coin {
    overflow: hidden;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    width: 320px;
    margin: 32px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
  }

  &__coin-logo {
    width: 128px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    clip-path: circle(60px at center);
    &.bg-white{
      background-color: white;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-weight: 700;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
  }

  &__symbol {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding-left: 8px;
  }

  &__price-indicator {
    flex-direction: row;
    border-radius: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    font-size: 1rem;
    color: white;
    padding: 1rem;
  }

  &__price-up {
    background-color: #11d811;
    height: 68px;
  }

  &__price-down {
    background-color: #ee0a0a;
    height: 68px;
  }

  .fa-1x {
    font-size: 14px;
  }

  .fa-caret-up {
    background-color: transparent;
  }

  .fa-caret-down {
    background-color: transparent;
  }

  &__price-change {
    background-color: transparent;
    padding-left: 10px;
    text-shadow: 0 0 12px black;
    font-size: 18px;
  }

  &__price {
    background-color: transparent;
    width: auto;
  }

  &__ath {
    padding-top: 8px;
    background-color: transparent;
    width: auto;
  }

  &__market-cap {
    background-color: transparent;
    width: auto;
    padding-top: 8px;
  }

  &__volume {
    background-color: transparent;
    width: auto;
    padding-top: 6px;
    padding-bottom: 8px;
  }
}
