.app {
  &__header {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  &__heading {
    font-size: 36px;
  }

  &__input-field {
    padding-left: 16px;
    font-size: 14px;
    width: 260px;
    height: 42px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 3pt 2pt #61dbfb;
    color: #e2e2e2;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    color: white;
  }

  @media (max-width: 520px) {
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .crypto-tracker-heading {
      padding-bottom: 14px;
    }
  }
}
