.app {
  &__header {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
  }

  &__heading {
    font-size: 36px;
  }

  &__logo {
    width: 100px;
  }

  &__input-field {
    margin-top: 20px;
    padding-left: 14px;
    font-size: 14px;
    width: 220px;
    height: 30px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 4pt 2pt #61dbfb;
    color: white;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
  }

  @media (max-width: 520px) {
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .crypto-tracker-heading {
      padding-bottom: 14px;
    }
  }
}
