.coin {
  &__crypto-coin {
    overflow: hidden;
    text-align: center;
    position: relative;
    width: 320px;
    margin: 32px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 1);
  }

  &__coin-logo {
    width: 128px;
    margin-top: 19.2px;
    height: 40px;
    width: 40px;
    clip-path: circle(60px at center);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-weight: 700;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
  }

  &__symbol {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    padding-left: 8px;
  }

  &__price-indicator {
    flex-direction: row;
    border-radius: 2;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    color: white;
    padding: 16px;
  }

  &__price-up {
    background-color: #11d811;
    height: 68px;
  }

  &__price-down {
    background-color: #f00606;
    height: 68px;
  }

  .fa-1x {
    font-size: 32px;
  }
  svg {
    background-color: transparent;
  }
}
